<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Edit book</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"></link>
</head>
<body>
    <main>
        <div id="wrapper">
            <p>Name: {{book.name}}</p>
            <p>Author: {{book.author}}</p>
            <p>Start: {{book.start_day}}</p>
            <p>End: {{book.end_day}}</p>
            <p>Notes: {{book.notes}}</p>
            <form class="signin" id="edit_book" action="/edit/{{book.id}}" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit" name="btn_edit"><b>>></b></button>
            </form> 
        </div>
    </main>
</body>
</html>