<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Room</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"></link>
    <script type="text/javascript" src="/static/scrypts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <main>
        <p>Name: {{user.name}} Email: {{user.email}}</p>
        <div id="wrapper">
            <p>Add book</p>
            <form class="signin" id="create_event" action="/book/{{user.id}}" method="post">
                {% csrf_token %}
                {{form}}
                <button type="submit" name="btn_create"><b>>></b></button>
            </form> 
        </div>
        <div id="books">
            {% if books.count > 0 %}
                <h2>List of books</h2>
                <table>
                    <tr><th>Name</th><th>Author</th><th>Start</th><th>End</th></tr>
                    {% for book in books %}
                        <tr><td><a href="/edit/{{book.id}}">{{ book.name }}</a></td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.start_day }}</td>
                            <td>{{ book.end_day }}</td>
                            <td><a href="/delete/{{user.id}}/{{book.id}}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
         </div>
        </div>
    </main>
</body>
</html>